@{
    ViewData["Title"] = "Home Page";
}

<div class="m-3">
    <img class="rounded-2 mw-100" src="~/images/cover.jpg">
</div>
<div class="m-3 text-center text-muted">
    <div class="col"><hr /></div>
    <div class="col">FEATURED ITEMS</div>
    <div class="col"><hr /></div>
</div>
<div class="row m-3">
    <div class="col" style="padding-left: 0px;"><img class="rounded-2 mw-100" src="~/images/men.jpg"></div>
    <div class="col" style="padding-right: 0px;"><img class="rounded-2 mw-100" src="~/images/women.jpg"></div>
</div>
<div class="m-3 text-center text-muted">
    <div class="col"><hr /></div>
    <div class="col">ABOUT ME</div>
    <div class="col"><hr /></div>
</div>
<div class="row m-3 align-items-center">
    <div class="col-4">
        <div class="text-center">
            <img class="rounded-2" style="max-height: 50px" src="~/images/logo1.jpg">
            <p class="text-muted">Building Web apps with ASP.NET Core.</p>
        </div>
    </div>
    <div class="col-8">
        <div class="px-0 rounded" id="map"></div>
    </div>
</div>

<style>
    #map { height: 180px; }
</style>

@section Scripts{
    <script>
        let zoom = 17; // 0 - 18
        let center = [22.6304446, 120.3017105]; // 中心點座標
        let map = L.map('map').setView(center, zoom);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap', // 商用時必須要有版權出處
            zoomControl: true , // 是否秀出 - + 按鈕
        }).addTo(map);
        const marker = L.marker(center).addTo(map)
            .bindPopup('LiFe stl.')
            .openPopup();
    </script>
}