@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img class="m-3 rounded-2 w-100" src="~/images/cover.jpg">
</div>
<div class="row">
    <div class="col-6">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
    <div class="col-6">
        <div class="px-0 rounded" id="map"></div>
    </div>
</div>

<style>
    #map { height: 180px; }
</style>

@section Scripts{
    <script>
        let zoom = 17; // 0 - 18
        let center = [22.6304446, 120.3017105]; // 中心點座標
        let map = L.map('map').setView(center, zoom);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap', // 商用時必須要有版權出處
            zoomControl: true , // 是否秀出 - + 按鈕
        }).addTo(map);
        const marker = L.marker(center).addTo(map)
            .bindPopup('我在這裡')
            .openPopup();
    </script>
}