@model Ecommerce_app.Models.Products.Option

@{
    ViewData["Title"] = "EditOption";
}

<h3>更新產品規格</h3>
<h5 class="text-muted">Home / Departments / EditOption</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOption">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary px-4" />
                <a asp-action="Index" class="btn btn-secondary px-4 mx-4">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
