@using Ecommerce_app.Areas.Identity.Models.ViewModels
@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



<div class="my-5 row justify-content-center">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h3 class="text-center mt-4">Create your Account</h3>
            <h6 class="text-muted text-center mb-4">-------- Sign up with E-mail --------</h6>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input asp-for="FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                        <label asp-for="FirstName">First name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input asp-for="LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                        <label asp-for="LastName">Last name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
            <div class="form-floating mb-3">
                <input asp-for="DOB" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                <label asp-for="DOB">Date of birth</label>
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Gender"
                        class="form-select"
                        asp-items="Html.GetEnumSelectList<GenderType>()">
                    <option>Select type ...</option>
                </select>
                <label asp-for="Gender" class="floatingSelect"></label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
        <div class="my-4">
            <p class="text-center">
                You have account? <a asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">Login now</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
